.AEHandymen-style{
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 80px;
      padding-top: 60px;
 }
 
 .fontColorText{
    font-family: 'Trebuchet MS', sans-serif;
    color: #003109c4;
    font-weight: 900;
 }

 .containerImg{
    height: 100%;
    width: 100%;
  }
  
  .footer {
    width: 100%;
    bottom: 0px;
    background-color: #000;
    color: #000000;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}